<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add More Happy Rectangles</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="w3-container w3-black">
<body class="w3-container w3-black">
    <br>
    <div class="w3-container w3-indigo">
        <h2>Set rectangle parameters below</h2>
    </div>
    <div class="w3-container w3-light-grey">
        <br>
    <div class="rect-form">
        <form name="form" onsubmit="return validate()" action="<%=(typeof editData != 'undefined') ? '/actions/update/'+ editData.Id :
            '/actions/create'%>" method="POST">
        <label for="width" class="w3-text-indigo"><b>Width of Rectangle</b></label><br>
        <input type="text" id="width" name="width" class="w3-input w3-round-large w3-hover-sand" required
            value="<%=(typeof editData != 'undefined') ? editData.Width : '' %>">
        <br />
        <label for="height" class="w3-text-indigo"><b>Height of Rectangle</b></label><br>
        <input type="text" id="height" name="height" class="w3-input w3-round-large w3-hover-sand" required
            value="<%=(typeof editData != 'undefined') ? editData.Height : '' %>">
        <br />
        <label for="select" class="w3-text-indigo"><b>Color</b></label><br>
        <select name="color" class="w3-text-indigo" id="select" required>
             <option value="" disabled selected>Select a Color</option>
             <option value="White">White</option>
             <option value="Blue">Blue</option>
             <option value="Red">Red</option>
             <option value="Green">Green</option>
             <option value="Black">Black</option>
             <option value="Brown">Brown</option>
             <option value="Azure">Azure</option>
             <option value="Ivory">Ivory</option>
             <option value="Teal">Teal</option>
             <option value="Yellow">Yellow</option>
             <option value="Silver">Silver</option>
             <option value="Purple">Purple</option>
             <option value="Navy">Navy Blue</option>
             <option value="paleGreen">Pale Green</option>
             <option value="Gray">Gray</option>
             <option value="Orange">Orange</option>
             <option value="Maroon">Maroon</option>
             <option value="DarkSlateGrey">Dark Slate Grey</option>
             <option value="Aquamarine">Aquamarine</option>
             <option value="Coral">Coral</option>
             <option value="Fuchsia">Fuchsia</option>
             <option value="Wheat">Wheat</option>
             <option value="Lime">Lime</option>
             <option value="Crimson">Crimson</option>
             <option value="Khaki">Khaki</option>
             <option value="HotPink">Hot Pink</option>
             <option value="Magenta">Magenta</option>
             <option value="Plum">Plum</option>
             <option value="Olive">Olive</option>
             <option value="Cyan">Cyan</option>
        </select>
        <br />
        <br />
        <label class="w3-text-indigo" name="bob"><b>Make Bob Ross?</b></label>
        <br />
        <input class="w3-check" id="checky" type="checkbox" name="bob" <%=(typeof editData != 'undefined') ? editData.Bob: '' %>>
        <br />
        <button type="submit" class="w3-btn w3-deep-purple w3-ripple w3-round" style="margin-top:25px"><b>Submit</b></button>
    </div>
    <br />
    <button onclick="goBack()" class="w3-btn w3-indigo w3-ripple w3-round" style="margin-bottom:10px">Back to Rectangles</button>
    </div>
</body>
<%
    if(typeof editData != 'undefined') {
%>
<script>
    console.log('script activated');
    let color = "<%=editData.Color %>";
    var select_el = document.getElementById('select');
    var options = select_el.options;
    console.log(select_el.options);
    for (var i=0;i<options.length;i++) {
        if (options[i].value == color) {
            select_el.selectedIndex = i;
            break;
        }
    }
    function goBack() { window.history.back(); }
    function validate() {
        console.log('validating');
        // check numbers inputed
        var w_num = document.getElementById('width').value;
        var h_num = document.getElementById('height').value;
        if (isNaN(w_num) || isNan(h_num)) { alert('Input values are not numbers'); return false; }
        // change checkbox value
        var outputs = document.getElementById('checky');
        if (outputs.checked) { outputs.value = "checked"; }
        return true;
    }
</script>
<%
    } else {
%>
<script>
    function goBack() { window.history.back(); }
    function validate() {
        console.log('validating');
        // check numbers inputed
        var w_num = document.getElementById('width').value;
        var h_num = document.getElementById('height').value;
        if (isNaN(w_num) || isNaN(h_num)) { alert('Input values are not numbers'); return false; }
        // change checkbox value
        var outputs = document.getElementById('checky');
        if (outputs.checked) { outputs.value = "checked"; }
        return true;
    }
</script>
<%
    }
%>
</html>
